.dados-container dt{
    font-size: 1.425rem;
    display: flex;
    align-items: center;
}
.dados-container dt::before{
    content: '';
    width: .5em;
    height: 1px;
    display: block;
    background-color: #fff;
    margin-right: .5em;
}
.dados-container dd{
    opacity: 60%;
    margin-left: 1em;
    margin-bottom: 1em;
}

@media(min-width: 1200px){
    .dados-container{
        padding: 1.9em;
    }
    .dados-container dt{
        font-size: 1.125rem;
    }
    .dados-container dd{
        margin-bottom: .5em;
    }
}
