.foto-catedral{
    background-image: url(../img/catedral.jpg);
 
}
@media(min-width:768px){
.foto-catedral{
    grid-column: 2/3;
    grid-row: 3/4;
}
}
@media(min-width: 1200px){
    .foto-catedral{
        grid-column: 3/4;
        grid-row: 2/3;
    }
}