@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,dt{
     color: #fff;
     font-family:'Playfair Display', serif;
}
p,a,dd{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    line-height: 160%;
}
a{
    text-decoration: none;
    font-weight: bold;
}
ul{
    list-style-type: none;
}
.fundo-foto{
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}
.fundo-conteudo{
    background-color: #0D0D0D;
    padding: 2em;
}
.flex-container{
    display: flex;
    flex-direction: column;
}
.flex-img{
    align-self: flex-end;
}
@media(min-width: 1200px){
   .fundo-foto{
       height: 50vh;
   }
   .fundo-conteudo{
       height: 50vh;
   }
}


