.menu-container{
    width: 80%;
    margin: 1em auto;
}
.menu-container ul{
    display: flex;
    justify-content: space-between;
}
@media(min-width:1200px){
    .menu-container{
        width: 60%;
    }
}
